.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.pokedex {
    /* background-color: red; */
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.pokemon-card {
    border: 1px solid black;
    padding: 5px;
}

#loadButton {
    display: block;
    margin: 10px auto;
    border: none;
    color: white;
    background-color: black;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

#loadButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
